In [1]:
import pandas as pd
import numpy as np 
import matplotlib as plt

In [56]:
df = pd.read_csv("emissions_data.csv")

# Shape = 750 Rows and 12 Columns 

df

,Manufacturer,Model Year,Regulatory Class,Real-World MPG,Real-World MPG_City,Real-World MPG_Hwy,Real-World CO2 (g/mi),Real-World CO2_City (g/mi),Real-World CO2_Hwy (g/mi),Weight (lbs),Horsepower (HP),Footprint (sq. ft.)
0,All,1975,All,13.05970,12.01552,14.61167,680.59612,739.73800,608.31160,4060.399,137.3346,-
1,All,1976,All,14.22136,13.18117,15.73946,625.02238,674.34147,564.74348,4079.198,135.0839,-
2,All,1977,All,15.06743,14.00580,16.60587,589.99880,634.71366,535.34732,3981.818,135.9847,-
3,All,1978,All,15.83777,14.68193,17.52390,561.62442,605.82637,507.59981,3715.238,129.0248,-
4,All,1979,All,15.91271,14.87711,17.39245,559.69495,598.63764,512.09833,3655.465,123.5922,-
...,...,...,...,...,...,...,...,...,...,...,...,...
745,VW,2020,All,24.91724,21.42046,28.41676,354.08929,411.91414,310.46703,4144.084,240.9033,48.08672
746,VW,2021,All,24.72024,21.46116,27.91861,352.49487,406.89859,311.45347,4394.182,269.1716,49.55366
747,VW,2022,All,26.05278,22.54068,29.52298,332.61247,385.64771,292.60343,4302.086,260.9631,48.61317
748,VW,2023,All,27.04400,23.53261,30.47434,316.58742,365.89496,279.39051,4361.105,263.4194,48.80510
749,VW,Prelim. 2024,All,27.89443,24.14961,31.58983,304.79575,354.35407,267.40965,4321.014,258.5854,49.15262

In [60]:
df = df.dropna(subset = ["Manufacturer" , "Model Year" , "Regulatory Class" , 
                         "Real-World MPG" , "Real-World MPG_City" , "Real-World MPG_Hwy" , 
                         "Real-World CO2 (g/mi)" , "Real-World CO2_City (g/mi)" , "Real-World CO2_Hwy (g/mi)" ,
                         "Weight (lbs)" , "Horsepower (HP)" , "Footprint (sq. ft.)"])

df["Model Year"] = df["Model Year"].replace("Prelim. 2024" , "2024")

df['Model Year'] = df['Model Year'].astype(int)

df["Real-World CO2 (g/mi)"] = df["Real-World CO2 (g/mi)"].replace("-", pd.NA)

# df = df.dropna(subset=["Real-World CO2 (g/mi)"])


# df["Real-World CO2 (g/mi)"] = df["Real-World CO2 (g/mi)"].astype(float)
# print(df.to_string())
# print(df["Real-World CO2 (g/mi)"].to_string())

df

,Manufacturer,Model Year,Regulatory Class,Real-World MPG,Real-World MPG_City,Real-World MPG_Hwy,Real-World CO2 (g/mi),Real-World CO2_City (g/mi),Real-World CO2_Hwy (g/mi),Weight (lbs),Horsepower (HP),Footprint (sq. ft.)
0,All,1975,All,13.05970,12.01552,14.61167,680.59612,739.73800,608.31160,4060.399,137.3346,-
1,All,1976,All,14.22136,13.18117,15.73946,625.02238,674.34147,564.74348,4079.198,135.0839,-
2,All,1977,All,15.06743,14.00580,16.60587,589.99880,634.71366,535.34732,3981.818,135.9847,-
3,All,1978,All,15.83777,14.68193,17.52390,561.62442,605.82637,507.59981,3715.238,129.0248,-
4,All,1979,All,15.91271,14.87711,17.39245,559.69495,598.63764,512.09833,3655.465,123.5922,-
...,...,...,...,...,...,...,...,...,...,...,...,...
745,VW,2020,All,24.91724,21.42046,28.41676,354.08929,411.91414,310.46703,4144.084,240.9033,48.08672
746,VW,2021,All,24.72024,21.46116,27.91861,352.49487,406.89859,311.45347,4394.182,269.1716,49.55366
747,VW,2022,All,26.05278,22.54068,29.52298,332.61247,385.64771,292.60343,4302.086,260.9631,48.61317
748,VW,2023,All,27.04400,23.53261,30.47434,316.58742,365.89496,279.39051,4361.105,263.4194,48.80510
749,VW,2024,All,27.89443,24.14961,31.58983,304.79575,354.35407,267.40965,4321.014,258.5854,49.15262

In [ ]:
average_emissions = df.groupby(["Model Year" , "Manufacturer" ])["Real-World CO2 (g/mi)"].mean().reset_index()

print(average_emissions.to_string())